<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-row>
        <ion-col [size]="12">
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input ngModel type="email" name="email"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col [size]="12">
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input ngModel type="password" name="password"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row padding>
        <ion-col [size]="12">
            <ion-button type="submit" color="primary">
                Login
            </ion-button>
        </ion-col>
    </ion-row>
    </form>
    <ion-card no-margin padding-bottom>
        <div class="row">
            <div class="col-12">
                <h3 color="light" text-center>Don't have a account?</h3>
                <p [routerLink]="['/register']"  text-center class="link">Sign Up</p >
            </div>
        </div>
    </ion-card>
    <span [routerLink]="['/home']">home</span>
</ion-content>
