<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="openFile(item?.id)" *ngFor="let item of list">
      <span>{{item?.id}} </span>
      {{item?.name}}
      <div class="item-note" slot="end">
        {{item?.fileType}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  <img *ngIf="showImage" [src]="showImage">
</ion-content>
